.button {
  font-family: "Inter";
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  line-height: 1.25;
  padding: 0.65rem 1.3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__primary {
    border: 0.1rem solid var(--button-primary-idle-border);
    background-color: var(--button-primary-idle-background);
    color: var(--button-primary-idle-text);

    &:hover {
      border: 0.1rem solid var(--button-primary-hover-border);
      background-color: var(--button-primary-hover-background);
      color: var(--button-primary-hover-text);
    }

    &:disabled {
      border: 0.1rem solid var(--button-primary-disabled-border);
      background-color: var(--button-primary-disabled-background);
      color: var(--button-primary-disabled-text);
      cursor: default;
    }
  }

  &__secondary {
    border: 0.1rem solid var(--button-secondary-idle-border);
    background-color: var(--button-secondary-idle-background);
    color: var(--button-secondary-idle-text);

    &:hover {
      border: 0.1rem solid var(--button-secondary-hover-border);
      background-color: var(--button-secondary-hover-background);
      color: var(--button-secondary-hover-text);
    }

    &:disabled {
      border: 0.1rem solid var(--button-secondary-disabled-border);
      background-color: var(--button-secondary-disabled-background);
      color: var(--button-secondary-disabled-text);
      cursor: default;
    }
  }
}
